server:
  port: 8080
  servlet:
    context-path: /reservation

spring:
  application:
    name: "Projeto"
  datasource:
    url: jdbc:postgresql://99.79.51.142:8080/reservation
    username: lipalhos
    password: 172129
    driver:
      class: org.hibernate.dialect.PostgreSQL10Dialect
  liquibase:
    change-log: classpath:/db/dbchangeLog.xml
  jpa:
    hibernate:
      ddl-auto: none
jwt:
  secret: "tokensecret"
  expiration: 7

springdoc:
  swagger-ui:
    url: /openapi.yaml
