name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Dar permissão de execução pro mvnw
        run: chmod +x mvnw

      - name: Build JAR
        run: ./mvnw clean package -DskipTests

      - name: Copiar JAR para o servidor
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "target/demo-0.0.1-SNAPSHOT.jar"
          target: "/home/ubuntu"

      - name: Reiniciar aplicação no servidor
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/ubuntu
            PID=$(pgrep -f "demo-0.0.1-SNAPSHOT.jar" || true)
            if [ -n "$PID" ]; then
              sudo kill $PID || true
              sleep 5
            fi
            nohup java -jar demo-0.0.1-SNAPSHOT.jar > app.log 2>&1 &
            exit 0
